/* Adicionar aqui toda a estilização criada para sua aplicação. */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    background-color: black;
}

:root{
    --tamanho-header:8vh;
    --tamanho-footer:10vh;
    --tamanho-banner: 20vh;
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}

.header{
    height: var(--tamanho-header);
    border-bottom: 2px solid #32B9CD;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a{
    text-decoration: none;
    color:#e5e5e5;
}

.agora{
    font-weight: 800;
}
 
.navbar{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color:#e5e5e5;
}

.titulo{
    color: #32B9CD;
    width: fit-content;
    font-weight: 500;
}

.banner{
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p{
    width: 50%;
    margin: 0;
    padding: 0;
    padding-left: 4px;
    font-size: 36px;
    text-align: center;
}

.banner .container span{
    font-weight: 800;
}

.social{
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--tamanho-corpo);
    padding: 3vh 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .container .boxes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 47%;
    height: 80%;
    padding: 0px 0px;
}

.box{
    display: flex;
    align-items: center;
}

.box p{
    text-align: center;
    margin: 0;
    width: 80%;
}

.box img{
    width: 170px;
}

.icones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icones h4{
    margin: 15px 0px;
}

.footer{
    height: var(--tamanho-footer);
    background-color: #32B9CD;
    color: white;
    display: flex;
    font-size: 15px;
    
}

.footer .container{
    align-items: center;
    justify-content: center;
}

.version{
    font-size: 12px;
}

/* Pagina de Login */

.login{
    height: var(--tamanho-login);
    width: 100vw;
    background-image: url('../assets/imgs/bg-jelly-fish-para_outras_pags.png');
    display: flex;
}

.login .container{
    background-color: #e5e5e5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: 38%;
}

.card, .campo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2{
    display: flex;
    justify-content: center;
    color: #e76092;
}

.formulario{
    margin-bottom: 20px;
}

.formulario .campo{
    margin-bottom: 20px;
}

.campo span{
    color: #e76092;
    font-weight: 700;
}

.campo input{
    text-align: center;
    border-radius: 10px;
    height: 35px;
    width: 30vw;
    border:2px solid #32B9CD;
}

.botao{
    text-align: center;
    font-weight: 800;
    color:white;
    background-color: #ff005b;
    width:60%;
    height: 35px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
}